button {
    outline: #A44CD3 auto;
    background-color: #E090DF;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    width: fit-content;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


button:hover, button:focus {
    outline: #8800c7 auto !important;
    box-shadow: 0px 0px 15px #8800c7;
}


  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdownTwo {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f100;
    min-width: 160px;
    overflow: auto;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-contentTwo {
    display: none;
    position: absolute;
    background-color: #f1f1f100;
    min-width: 160px;
    overflow: auto;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  .dropdown-contentTwo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {background-color: #ddd;}
  .dropdownTwo a:hover {background-color: #ddd;}
  .show {display: block;}


  .wholeThing {
      position: absolute;
  }

  .text {
    position: relative;
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 10px 10px;
    width: 750.2px;
    text-align: center;
  }

  .buttonsBlock {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0);
      position: relative;
      width: auto;
      height: auto;
  }

  .spacer {
      margin: 5px 5px 5px;
  }