*, *::before, *::after {
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #CCC;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: #AAA;
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: red;
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}


.side-text {
  color: white;
  margin-right: 50px;
  text-shadow: 1px 1px 10px  white;
  background-color: #1b1b1b;
  padding: 20px 20px;
  border-radius: 20px;
}

.YouLoseText {
  color: rgb(255, 255, 255);
  background-color: #1b1b1b;
  padding: 6px 6px;
  border-radius: 17px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
  position: absolute;
  left: 30px; 
  top: 50px;
  font-size: 30px;
}


/* .restartButton {
  background-color: #1b1b1b;
  color: white;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.609);
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  bottom: 120px;
  left: 270px;
} */


.button {
  background-color: #1b1b1b;
  color: white;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.609);
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  left: 270px;
}
.restartButton {
  bottom: 120px;
}
.goBackButton {
  bottom: 60px;
  
}
.button:hover {
  box-shadow: 0px 0px 15px rgb(34, 34, 34);
}

